.cards {
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
}
.card-sender {
  justify-content: flex-end;
}
.receiver {
  background-color: white;
  border-top-right-radius: 8px;
}
.sender {
  background-color: #dcf8c6;
  border-top-left-radius: 8px;
}
.inner-parent {
  width: max-content;
  max-width: 70%;
  height: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.rec {
  margin-right: -6px;
  margin-top: -6px;
}
.sen {
  margin-top: -5px;
}
.sen img {
  border-top-right-radius: 6px;
}
.rec img {
  border-top-left-radius: 10px;
}
.receiver-time{
  color:gray;
  font-size:x-small;
  float: right;
  padding-right: 4px;
 padding-bottom: 2px;
 margin-bottom: 0;
 padding-left: 4px;
}
.sender-time{
  color:gray;
  color:gray;
  font-size:x-small;
  float: right;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: 2px;
}
.receive-msg{
  text-align: center;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-right:4px;
  padding-bottom: 0px;
  padding-left: 5px;
}
.sender-msg{
  padding-top: 5px;
  padding-right:5px;
  padding-bottom: 0px;
  padding-left: 5px;
  margin-bottom: 0px;
  text-align: center;
}
.username{
  font-size: x-small;
  margin-bottom: 0px;
  text-align: left;
  padding-right: 5px;
}
.sender_username{
  text-align: left;
  font-size: x-small;
  margin-left: 5px;
  margin-bottom: 0px;
}


