@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.container-fluid {
  height: 100%;
  scrollbar-color: rgba(0, 0, 0, 0.2) hsla(0, 0%, 100%, 0.1);
  scrollbar-width: thin;
}
.sidebar {
  background-color: #ededed;
  height: 100%;
  border: 1px solid #f1e3cb;
}
.users {
  background-color: white;
  margin-top: 1px;
  height: 70px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.users:hover {
  background-color: #ffffffa6;
}

.userName {
  padding-left: 30px;
}
.search-icon {
  height: 20px;
}
.search-bar {
  background-color: #f7f7f7;
  border: #f7f7f7 solid 10px;
}
.logout-button {
  border-radius: 100px;
}
.search {
  width: 80%;
  height: 100%;
  border: none;
  /* display: inline; */
}
.search:focus {
  outline: none;
}
.initial-text {
  margin-left: 550px;
  margin-top: 200px;
}
h1,
h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
.logout-user-dp {
  display: flex;
  justify-content: space-between;
}
.welcome-image {
  min-height: 280px;
  width: 300px;
  background-image: url("https://web.whatsapp.com/img/intro-connection_c98cc75f2aa905314d74375a975d2cf2.jpg");
  background-repeat: no-repeat;
  background-size: 250px 250px;
  margin-top: 110px;
}
.before-chat {
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.before-chat p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 20px;
}
.user_list {
  max-height: 78%;
  overflow-y: scroll;
}
.user-icons {
  display: flex;
  justify-content: space-evenly;
  color: #919191;
}
.icons-btn,
.user-profile-img {
  cursor: pointer;
}
.search-box {
  display: flex;
  text-align: left;
  border-radius: 25px;
  height: 35px;
  background-color: #fff;
  z-index: 100;
}
