.chat-side-bar {
  background-color: grey;
  height: 100vh;
}
.chat-window {
  /* background-color: aqua; */
  height: 100%;
  padding: 0px 0px;
  overflow-y: hidden;
}
.navbar {
  background-color: #ededed;
}
.message-area {
  height: 79vh;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}
.footer-bar {
  height: 64px;
  background-color: #e5ddd5;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 14px;
}
.footer-icon {
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: #919191;
}
.message-box {
  width: 87%;
}
.message-area {
  background-image: url("../images/wtp.png");
  display: flex;
  flex-direction: column;
}
.footer-icon:focus {
  outline: none;
}
.form-control {
  border-radius: 20px;
}
.form-control:focus {
  border: none;
  border-color: transparent;
  box-shadow: none !important;
  outline: none;
}
.user-image {
  border-radius: 20px;
}
.username-image {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.user-name {
  width: 38rem;
  font-size: 20px;
}
.header-icon {
  font-size: 22px;
  background-color: transparent;
  border: none;
  color: #919191;
}
.header-icon:focus {
  outline: none;
}
