.green-text {
  font-size: 14px;
  color: #009688;
}

.media-content {
  color: #888;
  font-size: 14px;
}

.top-border {
  border-top: 1px solid #eee;
}

.border-bottom-card {
  border-bottom: 1px solid #ccc;
}

.sidebar {
  overflow: hidden;
}

.contact-info-container {
  height: 92%;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.description-text {
  font-size: 14px;
}

.group-creation-date {
  font-size: 14px;
  color: #919191;
}

.add-members,
.invite-via-link {
  background-color: #009688;
  width: 50px;
  height: 50px  ;
}

.admin-badge {
  border: 1px solid #07BC4C;
  border-radius: 3px;
  font-size: 10px;
  color: #07BC4C;
}

.dropdown-member {
  position: absolute;
  top: 55%;
  right: 15px;
  width: 200px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  display: none;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
